*.iml
*.class
*.apk
*.dex
*.ap_
.idea/
app
.gradle/
local.properties
bin/
gen/
Thumbs.db
metadata/
.settings/
/bin
build/
build.info.prop
graddle/wrapper/*.zip
captures
.gitconfig
.navigation/
.DS_Store
.externalNativeBuild
.cxx
